ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

* {
  text-align: center;
}

p {
  color: #ff0000;
}

.note {
  font-size: 20px;
}

#id-selector-demo {
  color: #008000;
}

li[value="4"] {
  color: #0000ff;
}
