@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #000000;
    position: relative;
}

div {
    width: 50%;
    margin-left: 25%;
}

h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

h2
{
    color: #ffffff;
    text-align: center;
}

img {
    width: 100%;
    border: 5px solid #ffffff;
}